.container {
  width: 100vw;
  height: 100vh;

  position: absolute;

  top: 0;
  left: 0;

  overflow: hidden;

  //z-index: 90;
}

.button {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: none;

  z-index: 100;

  color: white;
}

.trail {
  width: 24px;
  height: 24px;

  position: absolute;

  z-index: 100;

  background-repeat: no-repeat;
  background-size: contain;
}

.dogContainer {
  position: absolute;
  bottom: 0;

  z-index: 100;

  .dogImage {
    width: 15rem;
    height: 15rem;
  }
}
