:root {
  --base-black: #000000;
  --base-white: #FFFFFF;
  --base-blue: #161B2E;
  --base-light-blue: #528AEB;
  --accent-blue: #005DFF;
  --accent-purple: #A017FF;
  --accent-pink: #FA056C;
  --accent-red: #FF2929;
  --accent-orange: #FF6422;
  --accent-green: #05FA4B;

  --yellow-400: #FACC15;
  --lime-600: #65A30D;
  --red-500: #EF4444FF;
  --cyan-500: #06B6D4;
}
