@import "mixins/adaptive";

.nav {
  width: fit-content;

  margin: 0 auto;
  padding: 5px 12px;

  position: relative;

  display: flex;
  gap: 20px;

  z-index: 100;

  background-color: #fff;

  & a {
    cursor: none;
  }
}

.number {
  font-family: Rubik, sans-serif;
}
