.cursor {
  width: 16px;
  height: 16px;

  position: fixed;
  top: 0;
  left: 0;

  pointer-events: none;

  //background-color: var(--base-white);

  //background-color: var(--base-white);

  transform: rotate(-30deg);

  border-radius: 50%;

  z-index: 9999;

  //background-image: url("assets/paw.svg");
  background-repeat: no-repeat;

  mix-blend-mode: difference;

  .cursor_text {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 5px;

    pointer-events: none;

    transform: translate(-50%, -50%);

    transition: opacity 0.3s ease;

    opacity: 0;

    color: var(--base-black);
  }

  &.visible {
    .cursor_text {
      opacity: 1;
    }
  }
}
